<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="NhaHangDBContext"
             connectionString="server=localhost;
                           port=3306;
                           database=restaurant_db;
                           user=root;
                           password=Lovemyfamily2020@;
                           charset=utf8mb4;"
             providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>
